<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501512161981-2f4goebh7kdufod1618he0nm111dhq05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501512161981-2f4goebh7kdufod1618he0nm111dhq05</string>
	<key>API_KEY</key>
	<string>AIzaSyAQR9ZDH_7FrgMXs8sXMO3wRoPeQb-_6so</string>
	<key>GCM_SENDER_ID</key>
	<string>501512161981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunhouse.SunhouseKTV</string>
	<key>PROJECT_ID</key>
	<string>sunhousektv</string>
	<key>STORAGE_BUCKET</key>
	<string>sunhousektv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501512161981:ios:5f4744ba98dab8e79485d4</string>
</dict>
</plist>